﻿@page
@model GymMasterPro.Pages.Checkins.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Thêm mới</h1>

<h4>Thông tin tập luyện</h4>
<hr />
@if (ViewBag.Message is not null)
{
    <div class="row">
        <div class="col-md-4">
            <span class="alert alert-danger pt-1 pb-1 mb-2">@ViewData["Message"]</span>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Checkin.MemberId" class="control-label">Khách hàng</label>
                <select asp-for="Checkin.MemberId" class="form-control" asp-items="ViewBag.MemberId"></select>
            </div>
            <div class="form-group mt-1">
                <input type="submit" value="CheckIn" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Trở về</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
