﻿@page
@model GymMasterPro.Pages.Checkins.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
  
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Checkin.Status)*@ Trạng thái
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Checkin.Status)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Checkin.EndDate)*@ Ngày kết thúc
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Checkin.EndDate)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Checkin.Member)*@ Khách hàng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Checkin.Member.Address)
        </dd>
        
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Checkin.CreatedAt)*@ Thời gian tạo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Checkin.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Checkin.UpdateAt)*@ Chỉnh sửa lúc
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Checkin.UpdateAt)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Checkin.CreatedBy)*@ Được tạo bởi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Checkin.CreatedBy)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Checkin.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Trở về</a>
    </form>
</div>
