﻿@page
@model GymMasterPro.Pages.Checkins.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Checkin.Status)*@ Trạng thái
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Checkin.Status)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Checkin.EndDate)*@ Ngày hết hạn gói tập
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Checkin.EndDate)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Checkin.Member.FirstName)*@ Tên
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Checkin.Member.FirstName)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Checkin.CreatedAt)*@ Ngày tham gia
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Checkin.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Checkin.UpdateAt)*@ Chỉnh sửa lúc
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Checkin.UpdateAt)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Checkin.CreatedBy)*@ Được thêm bởi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Checkin.CreatedBy)
        </dd>
    </dl>
</div>
<div>
@*    <a asp-page="./Edit" asp-route-id="@Model.Checkin?.Id">Edit</a> |*@
    <a asp-page="./Index">Back to List</a>
</div>
<script>

</script>

