﻿@page
@model GymMasterPro.Pages.Checkins.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Checkin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Checkin.MemberId" class="control-label"></label>
                <select asp-for="Checkin.MemberId" class="form-control" asp-items="ViewBag.MemberId"></select>
                <span asp-validation-for="Checkin.MemberId" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="Checkin.Status" class="control-label"></label>
                <input asp-for="Checkin.Status" class="form-control" />
                <span asp-validation-for="Checkin.Status" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="Checkin.EndDate" class="control-label"></label>
                <input asp-for="Checkin.EndDate" class="form-control" />
                <span asp-validation-for="Checkin.EndDate" class="text-danger"></span>
            </div>*@
            <input type="hidden" asp-for="Checkin.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    var id = Checkin.Id;
    console.log(id)
</script>