﻿@page
@model GymMasterPro.Pages.Checkins.IndexModel
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Index";
}
<h1>Quản lý thời gian tập luyện</h1>

<p>
    <a asp-page="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Checkin[0].Status)*@Trạng thái
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Checkin[0].EndDate)*@ Ngày hết hạn gói tập
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Checkin[0].Member)*@ Khách hàng
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Checkin[0].Member)*@ Thời gian vào
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Checkin)
        {
@*            var status = item.Member.Memberships?.FirstOrDefault()?.EndDate > DateTime.Now ? "Gói tập còn hạn" : "Hết hạn";*@
            var status = item.Member.Memberships?.FirstOrDefault()?.EndDate == null ? "không có gói tập" : item.Member.Memberships?.FirstOrDefault()?.EndDate > DateTime.Now ? "Gói tập còn hạn":"hết hạn";
            <tr>
                <td>
                    @status
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.Memberships.FirstOrDefault().EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Member.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
@*                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                    }*@
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-page="./Details" asp-route-id="@item.Id">Chi tiết</a>
                    }
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-page="./Delete" asp-route-id="@item.Id">Xóa</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
