﻿@page
@model GymMasterPro.Pages.Members.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa khách hàng này?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Member.FirstName)*@ Tên
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.FirstName)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Member.lastName)*@ Họ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.lastName)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Member.Sex)*@ Giới tính
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Sex)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Member.DateOfBirth)*@ Ngày sinh
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Member.Address)*@ Địa chỉ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Address)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Member.Phone)*@ Số điện thoại
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Email)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Member.Notes)*@ Ghi chú
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Notes)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Member.Trainer)*@ Huấn luyện viên
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Trainer.FirstName)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Member.CreatedAt)*@ Thêm mới lúc
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Member.UpdateAt)*@ Chỉnh sửa vào
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.UpdateAt)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Member.CreatedBy)*@ Được tạo bởi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.CreatedBy)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Member.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Trở về</a>
    </form>
</div>
