﻿@page
@model GymMasterPro.Pages.Members.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Quản lý khách hàng</h1>

<p>
    <a asp-page="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Member[0].FirstName)*@ Tên
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Member[0].lastName)*@ Họ
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Member[0].Sex)*@ Giới tính
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Member[0].DateOfBirth)*@ Ngày sinh
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Member[0].Address)*@ Địa chỉ
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Member[0].Phone)*@ Số điện thoại
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Email)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Member[0].Notes)*@ Ghi chú
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Member[0].Trainer)*@ Huấn luyện viên
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Member[0].CreatedAt)*@ Thêm mới lúc
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Member[0].UpdateAt)*@ Chỉnh sửa lúc
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Member[0].CreatedBy)*@ Được thêm bởi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Member) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trainer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Chỉnh sửa</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Chi tiết</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
