﻿@page
@model GymMasterPro.Pages.Plans.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa gói tập này?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Plan.Name)*@ Tên
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plan.Name)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Plan.Duration)*@ Khoảng thời gian
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plan.Duration)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Plan.Price)*@ Giá
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plan.Price)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Plan.Notes)*@ Ghi chú
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plan.Notes)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Plan.CreatedAt)*@ Được thêm lúc
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plan.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Plan.UpdateAt)*@ Chỉnh sửa lúc
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plan.UpdateAt)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Plan.CreatedBy)*@ Được thêm bởi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plan.CreatedBy)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Plan.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Trở về</a>
    </form>
</div>
