﻿@page
@model GymMasterPro.Pages.Plans.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Xem chi tiết</h1>

<div>
    <h4>Gói tập</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Plan.Name)*@ Tên gói
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plan.Name)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Plan.Duration)*@ Khoảng thời gian
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plan.Duration)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Plan.Price)*@ Giá
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plan.Price)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Plan.Notes)*@ Ghi chú
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plan.Notes)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Plan.CreatedAt)*@ Được thêm lúc
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plan.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Plan.UpdateAt)*@ Chỉnh sửa vào 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plan.UpdateAt)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Plan.CreatedBy)*@ Được tạo bởi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plan.CreatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Plan?.Id">Edit</a> |
    <a asp-page="./Index">Trở về</a>
</div>
