﻿@page
@model GymMasterPro.Pages.Plans.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Chỉnh sửa</h1>

<h4>Gói tập</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Plan.Name" class="control-label">Tên gói tập</label>
                <input asp-for="Plan.Name" class="form-control" />
                <span asp-validation-for="Plan.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plan.Duration" class="control-label">Khoảng thời gian</label>
                <input asp-for="Plan.Duration" class="form-control" />
                <span asp-validation-for="Plan.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plan.Price" class="control-label">Giá</label>
                <input asp-for="Plan.Price" class="form-control" />
                <span asp-validation-for="Plan.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plan.Notes" class="control-label">Ghi chú</label>
                <input asp-for="Plan.Notes" class="form-control" />
                <span asp-validation-for="Plan.Notes" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Plan.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Trở về</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
