﻿@page
@model GymMasterPro.Pages.Plans.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Quản lý gói tập</h1>

<p>
    <a asp-page="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Plan[0].Name)*@ Tên gói tập
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Plan[0].Duration)*@ Khoảng thời gian
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Plan[0].Price)*@ Giá
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Plan[0].Notes)*@ Ghi chú
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Plan[0].CreatedAt)*@ Thêm mới lúc
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Plan[0].UpdateAt)*@ Chỉnh sửa lúc
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Plan[0].CreatedBy)*@ Được thêm bởi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Plan) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Chỉnh sửa</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Chi tiết</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
