﻿@page
@model GymMasterPro.Pages.Memberships.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <h4>Membership</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Membership.StartDate)*@ Ngày bắt đầu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.StartDate)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Membership.EndDate)*@ Ngày kết thúc
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.EndDate)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Membership.Price)*@ Giá
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.Price)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Membership.Member)*@ Khách hàng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.Member.Address)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Membership.Plan)*@ Gói tập
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.Plan.Name)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Membership.CreatedAt)*@ Thời gian tạo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Membership.UpdateAt)*@ Chỉnh sửa lúc
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.UpdateAt)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Membership.CreatedBy)*@ Được tạo bởi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.CreatedBy)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Membership.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Trở về</a>
    </form>
</div>
