﻿@page
@model GymMasterPro.Pages.Memberships.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>

<div>
    <h4>Đăng ký gói tập</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Membership.StartDate)*@ Ngày bắt đầu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.StartDate)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Membership.EndDate)*@ Ngày kết thúc
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.EndDate)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Membership.Price)*@ Giá
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.Price)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Membership.Member)*@ Khách hàng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.Member.FirstName)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Membership.Plan)*@ Gói tập
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.Plan.Name)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Membership.CreatedAt)*@ Thêm mới lúc
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Membership.UpdateAt)*@ Chỉnh sửa lúc
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.UpdateAt)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Membership.CreatedBy)*@ Được thêm bởi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Membership.CreatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Membership?.Id">Chỉnh sửa</a> |
    <a asp-page="./Index">Trở về</a>
</div>
