﻿@page
@model GymMasterPro.Pages.Memberships.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Chỉnh sửa</h1>

<h4>Đăng kí gói tập</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Membership.MemberId" class="control-label">Khách hàng</label>
                <select asp-for="Membership.MemberId" class="form-control" asp-items="ViewBag.MemberId"></select>
                <span asp-validation-for="Membership.MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membership.PlanId" class="control-label">Gói tập</label>
                <select asp-for="Membership.PlanId" class="form-control" asp-items="ViewBag.PlanId"></select>
                <span asp-validation-for="Membership.PlanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membership.StartDate" class="control-label">Ngày bắt đầu</label>
                <input asp-for="Membership.StartDate" class="form-control" />
                <span asp-validation-for="Membership.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membership.EndDate" class="control-label">Ngày kết thúc</label>
                <input asp-for="Membership.EndDate" class="form-control" />
                <span asp-validation-for="Membership.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membership.Price" class="control-label">Giá</label>
                <input asp-for="Membership.Price" class="form-control" />
                <span asp-validation-for="Membership.Price" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Membership.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Trở về</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}<script>
     var id = @ViewBag.Id;
     console.log(id)
</script>