﻿@page
@model GymMasterPro.Pages.Memberships.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Quản lý đăng kí gói tập</h1>

<p>
    <a asp-page="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Membership[0].StartDate)*@ Ngày bắt đầu
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Membership[0].EndDate)*@ Ngày kết thúc
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Membership[0].Price)*@ Giá
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Membership[0].Member)*@ Khách hàng
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Membership[0].Plan)*@ Gói tập
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Membership[0].CreatedAt)*@ Được tạo lúc
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Membership[0].UpdateAt)*@ Chỉnh sửa vào
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.Membership[0].CreatedBy)*@ Được thêm bởi
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Membership) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plan.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Chỉnh sửa</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Chi tiết</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
